# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Model files
*.h5
*.hdf5

# Video and audio files
*.mp4
*.avi
*.mov
*.mp3
*.wav

# Python virtual environment
venv/
ENV/
env/
.venv/

# Logs and outputs
*.log

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# PyInstaller build folders
build/
dist/
*.spec
